@import "_body.css";
@import "_charts.css";
@import "_fonts.css";

/*TAGS*/
.md-typeset .md-tags {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}




.md-typeset__table {
    margin-left: auto;
    margin-right: auto;
}
